/* Default Font */
body {
  font-family: 'Source Code Pro', monospace;
}

/* Logo Container Div */
.logo-container {
  position: absolute;
  top: 50px;
  left: 9vw;
}

/* Logo Font */
.logo {
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 10vw;
  text-shadow: -.5px 0 darkgrey, 0 .5px darkgrey, .5px 0 darkgrey, 0 -.5px darkgrey;
}

/* Main Image */
.cover-image {
  position: relative;
  width: 50%;
  left: 0;
}

/* Image Container Div */
.cover-container {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
}

/* Subtitle Font */
.subtitle {
  font-size: 4vw;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  padding: 2%;
}

/* Submit Button */
.button{
  position: relative; 
  left: 35%;
}

/* Header Fonts */
h2, h3{       
  font-family: 'Shadows Into Light', cursive;       
}

.header {
  font-size: 4vw;
  position: relative;
  left: 10px;
}

/* Question Font */
.questions {
  font-size: 1.5vw;
  font-family: 'Source Code Pro', monospace;
}

/* Media Queries */
@media screen and (max-width: 780px) {
  .questions {
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .button {
    left: 20%;
  }
}